.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 92px 24px;
}

.header__menu {
    display: flex;
    justify-content: end;
}

.header__menu-list {
    display: flex;
}

.header__menu-list-item {
    margin-right: 36px;
    list-style: circle;
    font-size: 18px;
    letter-spacing: 0.01em;
}

.header__link {
    
}

.header__links-list-item_no-bullit {
    list-style-type: none;
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 129px;
    height: 105px;
    justify-self: center;
}

.header__address {
    justify-self: end;
    font-style: normal;
    margin-right: 64px;
    line-height: 155%;
}

.header__address-link {
    font-size: 18px;
}

.cover {
    position: relative;
    z-index: 1;
    padding: 173px 50px 50px 50px;
    color: #fff;
    background-color: pink;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cover__title {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 135px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover__description-text {
    margin-right: 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 18px;
}

.address {
    max-width: 238px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
}
  
.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: inherit;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    transition: transform 0.3s ease;
    cursor: pointer;
}
  
.letter-spacing-extended {
    letter-spacing: 60px;
  }
  
.no-letter-spacing {
    letter-spacing: normal;
}
  
.aligned-text,
.aligned-text_center,
.aligned-text_right {
    display: block;
}
  
.aligned-text {
    text-align: left;
}
  
.aligned-text_center {
    text-align: center;
}
  
.aligned-text_right {
    text-align: right;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
.lots {
    padding: 180px 24px 0 24px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    width: 100%;
    margin-bottom: 30px;
    list-style: none;
}

.lots__card-list-item {
    position: relative;
    flex: 1 1 430px;
    min-height: 563px;
}

.card-link {
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
}

.card_type_film,
.card_type_book,
.card_type_picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card__text {
    margin-top: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
}

.lots__look-more-link {
    margin-left: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-underline-offset: 3px;
}

.about {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 50px;
    padding: 130px 50px 67px 50px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    margin: 53px 21px;
    border-radius: 50%;
    background: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
    object-fit: contain;
}

.about__title {
    margin-top: 153px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 25px;
    line-height: normal;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 88px 50px;
}
  
.footer__address-link {
    font-style: normal;
    line-height: 135%;
}
  
  
.footer__menu-list {
    text-align: center;
    list-style: none;
    letter-spacing: 0.05em;
}
  
.footer__menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-underline-offset: 1px;
  }
  
.footer__links-list-item_no-bullit {
    text-decoration: none;
  }
  
.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}
  
.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    justify-self: end;
    align-items: center;
    gap: 20px 48px;
    max-width: 240px;
    list-style: none;
 }
