.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 96px 24px;
}

.header__menu {
    padding-left: 26px;
}

.header__menu-list {
    display: flex;
    padding-top: 2px;
}

.header__menu-list-item {
    margin-right: 32px;
    list-style: circle;
    font-size: 18px;
    letter-spacing: 0.01em;
}

.header__link_active {
    list-style-type: none;
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 137px;
    height: 106px;
    justify-self: center;
}

.address {
    max-width: 238px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}
  
.header__address {
    justify-self: end;
    margin-right: 64px;
}

.cover {
    position: relative;
    z-index: 1;
    padding: 173px 50px 50px 50px;
    color: #fff;
    background-color: pink;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover__title {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 135px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover__description-text {
    margin-right: 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    border: 1px solid currentColor;
    padding: 12px 32px;
    color: inherit;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    transition: transform 0.3s ease;
    cursor: pointer;
}
  
.letter-spacing-extended {
    letter-spacing: 60px;
}
  
.no-letter-spacing {
    letter-spacing: normal;
}
  
.aligned-text,
.aligned-text_center,
.aligned-text_right {
    display: block;
}
  
.aligned-text {
    text-align: left;
}
  
.aligned-text_center {
    text-align: center;
}
  
.aligned-text_right {
    text-align: right;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.lots {
    padding: 180px 24px 0;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    padding-bottom: 26px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    padding-bottom: 28px;
    list-style: none;
}

.lots__card-list-item {
    flex-grow: 1;
    position: relative;
    flex: 1 1 334px;
    min-height: 563px;
    text-decoration: none;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__text {
    margin-top: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
}

.lots__look-more-link {
    padding-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-underline-offset: 2px;
}

.about {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 127px 24px 0;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    margin: 54px 72px 0 47px;
    border-radius: 50%;
    background: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
    object-fit: contain;
}

.about__title {
    margin-top: 156px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 24px;
    line-height: 120%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 156px 50px 88px;
}

.footer__menu{
    font-size: 18px;
    line-height: 22px;
}

.footer__address-link {
    font-style: normal;
    line-height: 135%;
}
  
  
.footer__menu-list {
    text-align: center;
    list-style: none;
}
  
.footer__menu-link {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-underline-offset: 1px;
}
  
.footer__links-list-item_active {
    text-decoration: none;
}
  
.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}
  
.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    justify-self: end;
    align-items: center;
    gap: 20px 48px;
    max-width: 240px;
    list-style: none;
 }
